{% extends 'plans/base.html' %}
{% block content %}

<div class="text-center">
  <h1 class="display-4 pb-8">Dev Fitness</h1>
  <p class="lead">Write the Code to Develop Your Best Life</p>
</div>
<div class="container">
  <div style="text-align: center;" class="justify-content-center">
    <div class="col-md-12">
      <img class="col-md-5 col-sm-4" src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fGZpdG5lc3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
      <img class="col-md-5 col-sm-4" src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbW1pbmd8ZW58MHx8MHw%3D&auto=format&fit=crop&w=400&q=60" alt="">  
    </div>
  </div>
</div>  
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <a href="{% url 'join' %}"><button type="button" class="btn btn-lg btn-info">Get Premium</button></a>
</div>

<div class="justify-content-center">
  <div class="container">

    <h3>Articles & Lifestile</h3>
    <ul>
      {% for plan in plans.all %}
  
      <li><a href="{% url 'plan' plan.id %}">{{ plan.title }}</a></li>
  
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}