{% extends 'plans/base.html' %}
{% block content %}

<div class="text-center">
  <h1 class="display-4 pb-8">Dev Fitness</h1>
  <p class="lead">Write the Code to Develop Your Best Life</p>
</div>
<div class="container">
  <div style="text-align: center;" class="justify-content-center">
    <div class="col-md-12">
      <img class="col-md-5 col-sm-4" src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fGZpdG5lc3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
      <img class="col-md-5 col-sm-4" src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbW1pbmd8ZW58MHx8MHw%3D&auto=format&fit=crop&w=400&q=60" alt="">  
    </div>
  </div>
</div>  
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <a href="{% url 'join' %}"><button type="button" class="btn btn-lg btn-info">Get Premium</button></a>
</div>

<!-- Articles section -->
<div class="justify-content-center">
  <div class="container">
    <h3 style="text-align: center; padding-bottom: 1.5rem;">Articles & Lifestile</h3>
    <div class="card-columns col-xs-6">
      {% for plan in plans.all %}
        <div class="card">
          {% if plan.image %}
            <a href="{% url 'plan' plan.id %}">
              <img class="card-img-top" src="{{ plan.image.url }}" alt="{{ plan.image.image_credit }}">
            </a>  
              {% endif %}  
          <div class="card-body">
            <h5 style="margin-top: -5px; text-decoration: none;" class="card-title text-info"><a href="{% url 'plan' plan.id %}">{{ plan.title }}</a></h5>
            <p class="card-text" id="card_description_text"> {{ plan.text|striptags|truncatechars:80  }} </p>
            <p style="margin-top: -10px; margin-bottom: -5px;" class="card-text"><small class="text-muted">Published on {{ plan.date }}</small></p>
            {% if plan.premium %}
              <p style="margin-top: -5px; margin-bottom: -10px;" class="text-right text-info" ><small> Premium </small></p>
            {% endif %}
            </div>
        </div>
      {% endfor %}
      <div class="card border-info p-3">
        <blockquote class="blockquote mb-0">
          <p>In a world where many people look for excuses not to work hard, I want to work hard inspite of the excuses.</p>
          <footer class="blockquote-footer">
            <small>
               <cite title="Source Title">Ronard Luna</cite>
            </small>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

{% endblock %}