{% extends 'plans/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Dev Fitness </h1>
  <p class="lead"> Developing software full time comes with great perks, but it can bring along stress and tension. That doesn't have to be the case, learn the balanced life. </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Monthly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Meditaion</li>
          <li>Workouts</li>
          <li>Stress Management</li>
          <li>Healthy Habits</li>
        </ul>
        <!-- Appends sting 'monthly' to URL -->
        <a href="{% url 'checkout' %}?plan=monthly"><button type="button" class="btn btn-lg btn-block btn-info" >Get started</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Yearly<small class="text-info">  Save $20!</small></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$100 <small class="text-muted">/ yr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Meditaion</li>
          <li>Workouts</li>
          <li>Stress Management</li>
          <li>Healthy Habits</li>
        </ul>
        <!-- Appends sting 'yearly' to URL -->
        <a href="{% url 'checkout' %}?plan=yearly"><button type="button" class="btn btn-lg btn-block btn-info">Get started</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
