{% extends 'plans/base.html' %}
{% block content %}
<style>
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  align-items: center;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

<div class="container">
    <h1 class="text-center mb-4 mt-5">{{ plan.title}}</h1>
    <div class="text-right">
        <p class="text-muted">{{ plan.date }}</p>
    </div>
    <div class="row">
        <div class="col-3">
            <p class="bd-lead mt-5 pt-5"> {{ quote }} </p>
        </div>
        <div class="col-9">
            {% if plan.image %}
                <div class="text-center">
                    <img class="col-md-11 col-sm-8 rounded pb-1" src="{{ plan.image.url }}" alt="{{ plan.image.url }}">
                    <p class="text-muted pb-4">{{plan.image_credit}}</p>
                </div>
            {% endif %}
            <p>{{ plan.text|safe }}</p>
            {% if plan.video %}
                <div class="container">
                    <div class="text-center">
                        <div class="videoWrapper">
                            <iframe width="560" height="390" src="{{ plan.video }}" title="{{ plan.video_credit }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <p class="text-muted">{{ plan.video_credit }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>  
</div>
{% endblock %}
